body {
    background-image: url('background.jpg');
    background-color: #cccccc;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


h5, li {
    background-color: rgba(49, 49, 51, 0.8);
    color: white;
    border-radius: 20px;
    padding: 20px;
    font-family: 'Arapey', serif;
}

.choice-row {
    background-color: rgba(49, 49, 51, 0.8);
    color: white;
    border-radius: 20px;
    padding: 20px;
}

#recipe, #ingredients {
    background-color: rgba(49, 49, 51, 0.8);
    color: white;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    margin-right: 5px;
    display: none;
}

.entree-row {
    margin: auto;
    margin-top: 80px;
    width: 50%;
}

.jumbotron {
    border-radius: 20px;
    align-content: center;
    background-color: #2A3E00;
    color: #92A277;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 10px 10px 8px 2px #000000;
}

.list-group {
    display: block;
}

.btn {
    margin: 30px;
    margin-left: 40%;
}

h1 {
    font-family: 'Sigmar One', cursive;
}

#categories {
    align-content: center;
    float: left;
    margin: auto;
    width: 50%;
}

#restaurants {
    align-content: cetner;
    float: right; 
    margin: auto;
    width: 50%;
}

#api-entry {
    margin-top: 20px;
}