body {
    background-image: url('background.jpg');
    background-color: #cccccc;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

li {
  padding: 10px;
}

h5 {
    background-color: rgba(49, 49, 51, 0.8);
    color: white;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Arapey', serif;
}

.choice-row {
    background-color: rgba(49, 49, 51, 0.8);
    color: white;
    border-radius: 10px;
    padding: 20px;
}

#recipe, #ingredients, #apiResults {
    background-color: rgba(49, 49, 51, 0.8);
    color: white;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    margin-right: 5px;
    display: none;
}

.entree-row {
    margin: auto;
    margin-top: 80px;
    width: 50%;
}

.recipe-images {
  display: inline-block;
  width: 30%;
  height: auto;
}

#entree {
  display: none;
}

.jumbotron {
    border-radius: 20px;
    align-content: center;
    background-color: #2A3E00;
    color: #92A277;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 10px 10px 8px .5px #000000;
}

.list-group {
    display: block;
}

.btn {
    margin: 30px;
    margin-left: 40%;
}

h1 {
    font-family: 'Sigmar One', cursive;
}

#categories {
    align-content: center;
    float: left;
    margin: auto;
    width: 50%;
}

#restaurants {
    align-content: cetner;
    float: right; 
    margin: auto;
    width: 50%;
}

#api-entry {
    margin: 40px auto;
    margin-top: 20px;
}

#apiSubmit {
  margin: 20px auto;
}

/* Style the form */
#regForm {
    background-color: #ffffff;
    border-radius: 10px;
    margin: 40px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
  }
  
  /* Style the input fields */
  input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
    border-radius:5px;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none; 
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #4CAF50;
  }